<!DOCTYPE html>
<!--base template for web pages-->
<html>
    <head>
        <meta charset = "utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- link to a content delivery network, allows to load custom css and javascript-->
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

        <!-- Sets the title of the page -->
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>

        <!-- Navbar section -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Button to toggle the navbar on small screens -->
            <button
                class="navbar-toggle"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
            >
                <span class="navbar-toggle-icon"></span>
            </button>
            <!-- Navbar links section -->
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <!-- Link to the home page -->
                    <a class="nav-item nav-link" id="home" href="/">home</a>
                    <!-- Link to the login page -->
                    <a class="nav-item nav-link" id="login" href="/login">login</a>
                    <!-- Link to the signup page -->
                    <a class="nav-item nav-link" id="signup" href="/signup">signup</a>
                    <!-- Link to the car list -->
                    <a class="nav-item nav-link" id="carlist" href="/carlist">carlist</a>
                    <!-- Link to logout of the website -->
                    <a class="nav-item nav-link" id="logout" href="/logout">logout</a>

                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}

            <div class=" alert alert-danger alter-dismissible fade show">
                {{message}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true"> &times;</span>

                </button>
            </div>
            {% else %}
            <div class=" alert alert-success alter-dismissible fade show">
                    {{message}}
                    <button type="button" class="close" data-dismiss="success">
                     <span aria-hidden="true"> &times;</span>

                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}



        <!-- Main content section -->
        <div class = "container">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Scripts section -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

